<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.min.css') }}">
</head>
<body>
{% include 'default/nav.html.twig' %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="{{ asset('js/main.min.js') }}" type="text/javascript"></script>
</body>
</html>
